<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        *{
            margin-top:11px;
        }
    </style>
</head>
<body>
    <div id="root">
        <input type="text" placeholder="请出入参考文档标题" v-model="title"></input><br>
        <input type="text" placeholder="请出入参考文档网址" v-model="address"></input><br>
        <el-form>
            {{ list }}
        </el-form>
    </div>
</body>
    <script type="text/javascript">
      Vue.config.productionTip=false
        const vm=new Vue({
          el:'#root',
          methods:{
          },
          data:{
            title:'名称一123',
            address:'地址一'
          },
          computed:{
            list:{
              get(){
                return this.title+'-'+this.address
              },
              set(value){
                console.log(value);
                const  list=value.split('-')
                this.title=list[0]
                this.address=list[1]
              }
            }
          }
            })
    </script>
</html>
